.dart_tool/
.packages
build/
output/
.engine-workspace/
.tools/
.idea/
.DS_Store
*.iml
.env
.env.*
!.env.example
*.pem
*.key
*.p12
*.mobileprovision
**/local.properties
**/Generated.xcconfig
**/flutter_export_environment.sh
**/ephemeral/
**/Pods/
**/.symlinks/
__pycache__/
